doctype html
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='stylesheet', href='/stylesheets/user.css')
    link(rel='stylesheet', href='/stylesheets/qlik-styles.css')
  body
    header
      h1 Qlik Sense On-Demand Flash Apps
    #container
      h2 Hello #{user[0].name}
      h3 These are your stats
      #filters
      #reload
      #visualizations
        #calories
        #calories2
    script.
        var config = !{JSON.stringify(config)}
        var user = !{JSON.stringify(user)}
        var objectid = !{JSON.stringify(objectid)}
    script(src='/jquery/dist/jquery.min.js')
    script.
        var host = window.location.hostname
        $('head').append('<script data-main="/javascripts/user.js" src="//'+ host +'!{config.prefix}resources/assets/external/requirejs/require.js">')